@import "./config.scss";
@import "./nomalize.scss";
@import "./home.scss";

@media (min-width: 1400px) {
  .container {
    min-width: 1400px;
    //  border: 1px solid red;
  }
}
@media screen and (max-width: 768px) {
  .baseBoxTitle,
  .producttitle,
  .aboutTitle,
  .scoolingtitle,
  .newstitle {
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-flex-item-align: center;
    img {
      width: 40%;
    }
  }
}
html {
  font-size: 14px;
}
ul,
li {
  margin: 0;
  padding: 0;
}

a:active {
  text-decoration: none;
}

* {
  text-decoration: none !important;
}

p {
  margin: 0;
  padding: 0;
}

#swiper {
  .swiper-pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3%;
  }
}
#productListswiper {
  .swiper-pagination1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -23%;
  }
}
